link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel='stylesheet', href='/stylesheets/jquery.mloading.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/iconfont.css')
link(rel='stylesheet', href='/stylesheets/iconfont.css')
link(rel='stylesheet', href='/components/my/modul/css/App.css')
script(src="/libs/jquery/dist/jquery.min.js" charset="UTF-8")
script(src="/libs/bootstrap/dist/js/bootstrap.js" charset="UTF-8")
<script src="/libs/require/require.js" data-main="/javascripts/main"></script>
script(src="/javascripts/myfn.js" charset="UTF-8")
script(src="/components/my/modul/js/App.js")