doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="baidu-site-verification" content="mXNVIZenOe")
    <meta name="baidu-site-verification" content="mXNVIZenOe" />
    <meta name="keywords" content="孙锋锋,孙锋锋的网络日志,孙峰峰,个人网站,赞同科技,个人笔记,个人日志,web前端" />
    <meta name="description" content="javascript，前端爱好者，现就职于赞同科技 - 孙锋锋"/>
    meta(http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5")
    title= title
    include includes/head
  body
    include includes/header
    block content
