link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/iconfont.css')
link(rel='stylesheet', href='http://simditor.tower.im/assets/styles/app.css')
link(rel='stylesheet', href='http://simditor.tower.im/assets/styles/simditor.css')
//- link(rel='stylesheet', href='https://lib.baomitu.com/simditor/2.3.28/styles/simditor.min.css')
script(src="/libs/jquery/dist/jquery.min.js" charset="UTF-8")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="UTF-8")
script(src="/javascripts/myfn.js" charset="UTF-8")
script(src="http://simditor.tower.im/assets/scripts/mobilecheck.js" charset="UTF-8")
script(src="http://simditor.tower.im/assets/scripts/module.js" charset="UTF-8")
script(src="http://simditor.tower.im/assets/scripts/uploader.js" charset="UTF-8")
script(src="http://simditor.tower.im/assets/scripts/hotkeys.js" charset="UTF-8")
script(src="http://simditor.tower.im/assets/scripts/simditor.js" charset="UTF-8")
//- script(src="https://lib.baomitu.com/simditor/2.3.28/lib/simditor.min.js" charset="UTF-8")
script(src="/libs/simditor/page-demo.js" charset="UTF-8")