doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="baidu-site-verification" content="mXNVIZenOe")
        <meta name="baidu-site-verification" content="mXNVIZenOe" />
        meta(http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5")
        title koa
    body
        div #{user}
        div adsfjasdfasdfasf